<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" />
    <title>Flashcard</title>
    <style>
        input {font-size: 20px; width: 250px; margin: 6px;}
    </style>
</head>
<body>
<!-- Включение навигационной панели -->
<div th:insert="~{nav_bar :: navbar}"></div>

<!-- Блок контента -->
<div th:block="content">
    <div class="main">
        <div class="new_theme">
            <h1>New theme</h1>
            <div>
                <form method="post" th:action="@{/new_theme}">
                    <input type="text" id="new_theme" name="new_theme" required maxlength="100" placeholder="Existing or new theme title" /><br />
                    <input type="text" id="changed_theme" name="changed_theme" placeholder="New title for existing theme" maxlength="100" /><br />
                    <button type="submit">Submit</button><br />
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
